  <body>

<!-- Layout -->
  <div id="header-region" class="clear-block"></div>

    <div id="wrapper">
    <div id="container" class="clear-block">

      <div id="header">
        <div id="logo-floater">
        <h1><a href="/" title=""><img src="/assets/logo-trans.png" alt="" id="logo" /></a></h1>        </div>

                                                    
      </div> <!-- /header -->

      
      <div id="center"><div id="squeeze"><div class="right-corner"><div class="left-corner">
                                        <h2>Admin panel</h2>

      <div class="clear-block"></br>
<h3> Agregar articulo </h3></br>
<%= form_tag ('/create_article') do %>
  <%= label_tag :Autor %></br>
  <%= text_field_tag :autor %> <br/>
  <%= label_tag :Titulo %></br>
  <%= text_field_tag :titulo %><br/>
  <%= label_tag :Cuerpo %><br/>
  <%= text_area_tag :cuerpo %><br/>
  <%= label_tag :Categoria %>
  <%= select_tag 'categoria', options_from_collection_for_select(Category.all, 'id', 'nombre') %> <br/>
  <%= submit_tag "Create" %>
<% end %></br>

<h3> Borrar articulo </h3></br>
<%= form_tag ('/erase_article') do %>
    <%= select_tag 'articulo', options_from_collection_for_select(Article.all, 'id', 'article') %> <br/>
    <%= submit_tag "Borrar" %>
<% end %></br>

<h3> Agregar categoria </h3></br>
<%= form_tag ('/create_category') do %>
  <%= label_tag :Categoria %>
  <%= text_field_tag :categoria %> <br/>
  <%= submit_tag "Create" %>
 <% end %></br>

 <h3> Borrar Categoria </h3></br>
<%= form_tag ('/erase_category') do %>
  <%= label_tag :Categoria %>
  <%= select_tag 'categoria', options_from_collection_for_select(Category.all, 'id', 'nombre') %> <br/>
  <%= submit_tag "Borrar" %>
 <% end %></br>

 <%= form_tag ( '/logout') do %>
    <%= submit_tag "Logout" %>
 <% end %></br>




          </div>
                    <div id="footer"><p>Copyleft 2008-2013 - ABCiencia.com.ar - Algunos derechos reservados</p>
<div id="block-system-0" class="clear-block block block-system">


  <div class="content"><a href="http://drupal.org"><img src="/misc/powered-gray-80x15.png" alt="Powered by Drupal, an open source content management system" title="Powered by Drupal, an open source content management system" width="80" height="15" /></a></div>
</div>
<div id="block-block-12" class="clear-block block block-block">


  <div class="content"><p class="rtecenter"><a title="Campa&ntilde;a contra el Software Privativo en la Educaci&oacute;n Argentina" href="http://www.abciencia.com.ar/campa&ntilde;a-contra-el-software-privativo-en-la-educacion-argentina"><img width="400" height="70" style="border: 0pt none ;" alt="Campa&ntilde;a contra el Software Privativo en la Educaci&oacute;n Argentina" src="http://www.abciencia.com.ar/images/noamicrosoft.png" /></a></p>
</div>
</div>
</div>
      </div></div></div></div> <!-- /.left-corner, /.right-corner, /#squeeze, /#center -->

      
    </div> <!-- /container -->
  </div>
<!-- /layout -->

  <script type="text/javascript">
<!--//--><![CDATA[//><!--
var _gaq = _gaq || [];_gaq.push(["_setAccount", "UA-4210258-1"]);_gaq.push(["_trackPageview", "/404.html?page=" + document.location.pathname + document.location.search + "&from=" + document.referrer]);(function() {var ga = document.createElement("script");ga.type = "text/javascript";ga.async = true;ga.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js";var s = document.getElementsByTagName("script")[0];s.parentNode.insertBefore(ga, s);})();
//--><!]]>
</script>
  </body>
</html>
