<%= render :partial => "header" %>
<%= render :partial => "sidebar" %>
<div id="block-block-19" class="clear-block block block-block">
  <div class="content"><p class="rtecenter" id="chivo"><a title="HT Foros" href="http://www.htforos.com"><img width="170" height="70" alt="HT Foros" src="http://www.abciencia.com.ar/images/htforos.png" /></a></p>
</div>
</div>
        </div>
      
      <div id="center"><div id="squeeze"><div class="right-corner"><div class="left-corner">
          <div class="breadcrumb"><a href="/">Inicio</a></div>                              <h2></h2>                                                  <div class="clear-block">
            <div id="node-108" class="node">



      <span class="submitted"></span>
  
  <div class="content clear-block">
    <div><div class='adsense adsense_managed'>
</div></div>
<p><div align="justify">
<%= form_tag ('/login')  do %> 
 	<%= label_tag :User %>
 	<%= text_field_tag :nombre %>
 	<%= label_tag :Password %>
 	<%= password_field_tag :password %>
 	<%= submit_tag "Login" %>
<% end %>
</div>
<!-- google_ad_section_end --><br class="clear" />
<div class='adsense adsense_managed'>
</div></p>  </div>

  <div class="clear-block">
    <div class="meta">
        </div>

      </div>

</div>
          </div>
                    <div id="footer"><p>Copyleft 2008-2013 - ABCiencia.com.ar - Algunos derechos reservados</p>
<div id="block-system-0" class="clear-block block block-system">


  <div class="content"><a href="http://drupal.org"><img src="/misc/powered-gray-80x15.png" alt="Powered by Drupal, an open source content management system" title="Powered by Drupal, an open source content management system" width="80" height="15" /></a></div>
</div>
<div id="block-block-12" class="clear-block block block-block">


  <div class="content"><p class="rtecenter"><a title="Campa&ntilde;a contra el Software Privativo en la Educaci&oacute;n Argentina" href="http://www.abciencia.com.ar/campa&ntilde;a-contra-el-software-privativo-en-la-educacion-argentina"><img width="400" height="70" style="border: 0pt none ;" alt="Campa&ntilde;a contra el Software Privativo en la Educaci&oacute;n Argentina" src="http://www.abciencia.com.ar/images/noamicrosoft.png" /></a></p>
</div>
</div>
</div>
      </div></div></div></div> <!-- /.left-corner, /.right-corner, /#squeeze, /#center -->