<%= render :partial => "header" %>
<%= render :partial => "sidebar" %>
<div id="block-block-9" class="clear-block block block-block">

  <h2>Información</h2>

  <div class="content"><p><span class="itemMenu"><a href="/info">Qu&eacute; es la Ciencia?</a></span><span class="itemMenu"><a href="/about">Acerca de</a></span> <span class="itemMenu"><a href="/licencia">Licencia</a></span> <span class="itemMenu"><a href="/contacto">Contacto</a></span> </p>
<style type="text/css">
.itemMenu a:link, .itemMenu a:visited {
	display: block;
	width: 100%;
	padding: 2px 0px;
	padding-left: 5px;
	padding-right: 9px;
	font-weight: bold;
	color: #18583d;
	border-bottom: 1px #18583d solid;
}
.itemMenu a:hover {
	display: block;
	width: 100%;
	background-color: #52bf90;
	color: #000000;
	text-decoration: none;
	filter: alpha(opacity=75); opacity: .75;
}
</style>
</div>
</div>
<div id="block-aggregator-feed-2" class="clear-block block block-aggregator">

  <h2>Noticias</h2>

  <div class="content"><div class="item-list"><ul><li class="first"><a href="http://news.google.com/news/url?sa=t&amp;fd=R&amp;ct2=es_ar&amp;usg=AFQjCNF3ai7s4DGcMg_2EnuEWPD1iVzrLQ&amp;clid=c3a7d30bb8a4878e06b80cf16b898331&amp;cid=52778800555244&amp;ei=dPGAU9GsIMup1Aa8vYHwAg&amp;url=http://elcomercio.pe/economia/personal/ver-mundial-precios-tv-mas-40-noticia-">Para ver el Mundial: los precios de las TV de más de 40&quot; | El ... - El Comercio</a>
</li>
<li><a href="http://news.google.com/news/url?sa=t&amp;fd=R&amp;ct2=es_ar&amp;usg=AFQjCNHcWM_JZk5NnS5MGmh4YH1E_t2t-Q&amp;clid=c3a7d30bb8a4878e06b80cf16b898331&amp;cid=52778800137333&amp;ei=Dc6AU_j1H8mz1AaWvoCABw&amp;url=http://www.eltribuno.info/jujuy/407193-Frostie-aprendio-a-caminar-con-la-ayud">Frostie, aprendió a caminar con la ayuda de sus rueditas - El Tribuno.com.ar</a>
</li>
<li><a href="http://news.google.com/news/url?sa=t&amp;fd=R&amp;ct2=es_ar&amp;usg=AFQjCNHYKytbcfh499vOEeZcDkQuKHSFRg&amp;clid=c3a7d30bb8a4878e06b80cf16b898331&amp;cid=52778797126684&amp;ei=Dc6AU_j1H8mz1AaWvoCABw&amp;url=http://www.eltribuno.info/Jujuy/407342-Sol-fue-coronada-en-su-eleccion-de-rei">Artistas jujeños estuvieron en la Feria Puro Diseño - El Tribuno.com.ar</a>
</li>
<li><a href="http://news.google.com/news/url?sa=t&amp;fd=R&amp;ct2=es_ar&amp;usg=AFQjCNEYKXhs0PfjrprteZJQs19xBs-t-g&amp;clid=c3a7d30bb8a4878e06b80cf16b898331&amp;cid=52778802282354&amp;ei=dPGAU9GsIMup1Aa8vYHwAg&amp;url=http://www.lanacion.com.ar/1694287-un-fin-de-semana-frio-y-soleado-en-la-ciud">Un fin de semana frío y soleado en la ciudad de Buenos Aires - lanacion.com (Argentina)</a>
</li>
<li class="last"><a href="http://news.google.com/news/url?sa=t&amp;fd=R&amp;ct2=es_ar&amp;usg=AFQjCNFFIbzWFXEIbsAFRX7izwp3IR7cNA&amp;clid=c3a7d30bb8a4878e06b80cf16b898331&amp;cid=52778798660984&amp;ei=dPGAU9GsIMup1Aa8vYHwAg&amp;url=http://www.territoriodigital.com/nota3.aspx?c%3D1969296479662724">Buscan declarar de interés cultural al videojuego &quot;Preguntados&quot; - TerritorioDigital.com</a>
</li>
</ul></div><div class="more-link"><a href="/aggregator/sources/2" title="Ver las noticias recientes de este hilo.">más</a></div></div>
</div>
<div id="block-block-1" class="clear-block block block-block">


  <div class="content"><p class="rtecenter" id="chivo"><a title="Descargar Mozilla Firefox 4" href="http://www.mozilla-europe.org/es/products/firefox/"><img width="110" height="32" style="border: 0pt none ;" alt="Mozilla Firefox 4" src="http://www.abciencia.com.ar/images/firefox.png" /></a></p>
</div>
</div>
<div id="block-block-19" class="clear-block block block-block">


  <div class="content"><p class="rtecenter" id="chivo"><a title="HT Foros" href="http://www.htforos.com"><img width="170" height="70" alt="HT Foros" src="http://www.abciencia.com.ar/images/htforos.png" /></a></p>
</div>
</div>
        </div>
      
      <div id="center"><div id="squeeze"><div class="right-corner"><div class="left-corner">
          <div class="breadcrumb"><a href="/">Inicio</a></div>                              <h2><%= @category.nombre %></h2>                                                  <div class="clear-block">
            <div id="node-7" class="node">



  
  <div class="content clear-block">
    <div><div class='adsense adsense_managed'>
<script type="text/javascript"><!--
google_ad_client = "ca-pub-4954026507978385";
/* 728x15 */
google_ad_slot = "6694547893";
google_ad_width = 728;
google_ad_height = 15;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div></div>
<p><!-- google_ad_section_start --><p class="menuloco"><a href="/medicina"><u>Medicina general</u></a>|<a href="/medicina/psiquiatria">Psiquiatr&iacute;a</a>|<a href="/medicina/videos">Videos</a> </p>
<style type="text/css">
.menuloco a:link, .menuloco a:visited {
	padding: 2px 0px;
	padding-left: 5px;
	padding-right: 9px;
	font-weight: bold;
	color: #18583d;
}
.menuloco a:hover {
	background-color: #52bf90;
	color: #000000;
	text-decoration: none;
	filter: alpha(opacity=75); opacity: .75;
}
</style>
<hr />
<% @articles_for_category.each do |a| %>
<p><a href="#{a.super_link}"><font color="#1b5f42"><b><font size="3" face="arial,helvetica,sans-serif"><%= a.article %></font></b></font></a><br/><%= a.cuerpo %> </p>
<% end %>
<!-- google_ad_section_end --><br class="clear" />
<div class='adsense adsense_managed'>
<script type="text/javascript"><!--
google_ad_client = "ca-pub-4954026507978385";
/* 728x90 */
google_ad_slot = "8129496916";
google_ad_width = 728;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div></p>  </div>